.carousel-item {
  display: none;
}
.carousel-item.active {
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in;
}
#mobile-menu {
  display: none;
}
#mobile-menu.active {
  display: block;
}
